body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1rem;
}

a {
    color: #007BFF;
}

#footer {
    margin-top: auto;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 1rem;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1.125rem;
    }

    header {
        padding: 0.625rem;
    }

    main {
        margin: 0.625rem;
    }
}
